.choices
  position: relative
  width: 200px
  border: 1px solid #ccc
  background: #fff

.choices__dropdown
  position: absolute
  top: 36px
  left: -1px
  display: none
  width: 200px
  border: 1px solid #ccc
  background: #fff

.choices__search
  padding 8px 8px
  border-bottom: 1px solid #ccc

.choices__selected-item
  padding: 0 16px
  height: 36px
  line-height: 36px

.choices__list
  position: relative
  overflow: auto
  margin: 0
  padding: 0
  max-height: 150px
  list-style-type: none

.choices__item
  padding 8px 16px
  border-bottom: 1px solid #eee

.choices__item_hover
  background: #eee

.choices__spinner
  padding 0
  height: 40px
  border-bottom: none
  background: url('../images/choices/spinner.gif') 50% 50% no-repeat
