.choices
  position: relative
  width: 200px
  border: 1px solid #ccc
  background: #fff

.choices__dropdown
  position: absolute
  display: none
  border: 1px solid #ccc
  background: #fff
  width: 200px
  top: 36px
  left: -1px

.choices__search
  border-bottom: 1px solid #ccc
  padding 8px 8px

.choices__selected-item
  height: 36px
  line-height: 36px
  padding: 0 16px
  font-family: Menlo, monospace
  font-size: 14px

.choices__list
  height: 150px
  position: relative
  overflow: auto
  font-family: Menlo, monospace
  font-size: 14px
  margin: 0
  padding: 0
  list-style-type: none

.choices__item
  padding 8px 16px
  border-bottom: 1px solid #eee

.choices__item_hover
  background: #eee

.choices__spinner
  padding 0
  height: 40px
  border-bottom: none
  background: url('../images/choices/spinner.gif') 50% 50% no-repeat;
