<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="{{ url_for('static', filename='js/libs/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/underscore.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/backbone.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/handlebars.js') }}"></script>
  <script src="{{ url_for('static', filename='js/choices.js') }}"></script>
  <script src="{{ url_for('static', filename='js/application.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="application"></div>
</body>
</html>
